body {
  @include font-feature-settings("kern","liga","pnum");
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  @include media($medium) {
    font-size: $base-font-size;
  }
  font-family: $base-font-family;
  color: $base-font-color;
}

// Buttons
.btn,
button,
input[type="submit"] {
  @include appearance(none);
  border: none;
  cursor: pointer;
  font-family: $base-font-family;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.container {
  @include outer-container;
  padding: $base-spacing;
  @include media($medium) {
    padding: $base-spacing $base-spacing * 3;
  }
}

.content {
  @include span-columns(12);
  @include media($medium) {
    @include span-columns(10);
    @include shift(1);
  }
  @include media($large) {
    @include span-columns(8);
    @include shift(2);
  }
}

.intro {
  background-color: #00ACBF;
  @include media($medium) {
    padding-top: $base-spacing * 4;
    padding-bottom: $base-spacing * 4;
  }
  h1, a {
    color: #fff;
  }
  a {
    @include transition(border-color 0.3s);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: -20px;
    &:hover {
      border-bottom-color: rgba(255,255,255,1);
    }
  }
}

.posts {
  padding-bottom: $base-spacing * 2;
  margin-bottom: $base-spacing * 2;
  border-bottom: 1px solid $border-color;
  h2 {
    margin-bottom: 0;
  }
  span {
    color: #778083;
  }
}

.profile-image {
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: $base-spacing;
  @include media($medium) {
    margin-bottom: $base-spacing * 2;
  }
}

.page {
  p:first-of-type {
    font-size: 1.5em;
    line-height: 1.3;
  }
}

.social {
  li {
    display: inline-block;
    font-size: 2em;
    margin-right: 10px;
  }
}
