---
layout: default
---
<main class="container page">
  <div class="content">
    <img class="profile-image" src="{{ "/images/sam-lester.png" | prepend: site.baseurl }}" alt="Sam Lester">

    {{ content }}

    <ul class="social">
      <li><a class="icon-" href="http://www.twitter.com/samlester" target="_blank">Twitter</a></li>
      <li><a class="icon-" href="http://www.dribbble.com/samlester" target="_blank">Dribbble</a></li>
      <li><a class="icon-" href="http://uk.linkedin.com/in/samlester" target="_blank">LinkedIn</a></li>
      <li><a class="icon-" href="http://www.instagram.com/samlester" target="_blank">Instagram</a></li>
    </ul>
  </div>
</main>
